.twitterimg {
	width: 5vh;
	height: 5vh;
	
	order: 2;
	
	transition: 6s;
}

.insta {
	width: 5vh;
	height: 5vh;
	transition: 6s;
}

.fes {
	width: 5vh;
	height: 5vh;
	transition: 3s;
}

.git {
	width: 5vh;
	height: 5vh;	
	transition: 3s;
}

.yt {
	width: 5vh;
	height: 5vh;
}

.of {
	width: 5vh;
	height: 5vh;
}

.row1 {
	width: 60vh;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: flex-start;
}

.row2 {
	width: 60vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.row3 {
	width: 60vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.media {
	height: 32vh;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	order: 2;
	opacity: 0;
	transition: 0.2s ease;
	
}

.cbody {
	background-color: rgb(56, 41, 30);
	padding-top: 220px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: top;
	flex-wrap: wrap;
}

.maincube {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	position: absolute;

	width: 50vh;
	height: 45vh;
	background-color: lightgrey;
	border-radius: 40px;
	box-shadow: 0px 0px 50px 5px lightgrey;
	transition: 1s ease;
}

.maincube:hover {
	text-align: center;
	align-content: center;
	justify-content: space-between;
	width: 65vh;
	height: 55vh;
	background-color: lightgrey;
	border-radius: 40px;
	box-shadow: 0px 0px 50px 5px rgb(178, 190, 181);
	
	transition: 0.5s ease;
	
}

.undercube {
	display: flex;
    background-color: rgb(139, 114, 91);	
	border-radius: 40px;
	
	height: 40vh;	
	position: relative;
	z-index: 2;
	width: 45vh;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.proiecte {
	color: rgb(139, 114, 91);
	padding-bottom: 6px;
	opacity: 0;
	order: 3;
	
}


.sylvana {
	height: 12vh;
	width: 12vh;
	border-radius: 200px;
	margin-bottom: 5px;
	padding: -10px -10px -10px -10px;
	box-shadow: 0px 0px 50px 5px lightgrey;
	transition: 1s ease;
	background-color: lightgrey;
}

.sylvana:hover {
	height: 25vh;
	width: 26vh;
	border-radius: 200px;
	box-shadow: 0px 0px 50px 5px	rgb(178, 190, 181);
	transition: 1s ease;
}

.contactt {
	color: rgb(139, 114, 91);
	text-align: center;
	padding-top: 12px;
	margin-left: 8px;
	order: 2;
	opacity: 0;
	transition: 0.5s;
	text-shadow: 0px 2px 10px 20px black;
}




.maincube:hover > .contactt {
	opacity: 1;
	transition: 3s ease;
	letter-spacing: 5px;
	text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.50);
	text-align: center;
}

.maincube:hover > .proiecte {
	align-items: center;
	opacity: 1;
	text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.50);
	letter-spacing: 5px;
	transition: 3s ease;
}

.maincube:hover > row1 {
	display: flex;
	justify-content: space-between;
}

.maincube:hover > .media {
	
	
	filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.25));
	opacity: 1;
	transition: 2.5s;
}



